*{
	font-family: 'Assistant', sans-serif;
	margin: 0px;
	padding: 0px;
}
:root{
	--amarillo:rgb(255,255,145);
	--blanco:rgb(255,255,255);
	--verde:#54D8C8;
	--letraosc:rgba(0,0,0,.8);
	--colorprecio:rgba(0,0,0,.5);
}
body{
	background: rgb(242,241,239);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: #969696;
  border: 0px none #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: #e6e6e6;
  border: 0px none #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent
}
nav{
	width: 90px;
	height: 100%;
	position: fixed;
	background: var(--amarillo);
	left: 0px;
	top: 0px;
	z-index: 9999;
	box-shadow: 1px 0px 20px 0px rgba(0,0,0,.4);
}
	nav>ul{
		width: 100%;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		box-sizing: border-box;
	}
	nav>ul>li{
		margin-top: 20px;
		box-sizing: border-box;
	}
	nav>ul>li img{
		width: 100%;
		cursor: pointer;
		opacity: .8;
	}
	.actual{
		border-bottom: 3px solid #F9D05B;
		box-sizing: border-box;
		/*padding-bottom: 1px !important;*/
	}
	.imgact{
		opacity: 1 !important;
	}
.masopciones{
	width: 200px;
	height: 100%;
	position: fixed;
	left: -200px;
	top:0px;
	/*background: rgb(75,80,95);*/
	background: var(--blanco);
	transition: .3s all;
}
.veropciones{
	left: 90px !important;
	z-index: 999;
	box-shadow: 1px 0px 20px 0px rgba(0,0,0,.4);
}
	.masopciones>ul{
		list-style: none;
		width: 100%;
		margin-top: 10px;
	}
	.masopciones>ul>li{
		color: rgba(0,0,0,.5);
		font-size: 1.3em;
		font-weight: 300;
		border-bottom: 1.5px solid rgba(128,129,125,.4);
		padding: 10px;
		cursor: pointer;
	}
/*========================== ENCABEZADO ================================*/
.header{
	width: calc(100% - 90px);
	height: 60px;
	position: fixed;
	left: 90px;
	background: linear-gradient(90deg,rgba(77,81,95,1), rgba(67,71,85,0.9));
}
#datosUsuario{
	float: right;
	height: 100%;
	margin-right: 20px;
	padding-left: 5px;
	padding-right: 5px;
	/*min-width: 200px;*/
}
	#datosUsuario>img{
		height: 40px;
		border-radius: 50%;
		margin-top: 10px;
		background: blue;
		display: block;
		float: left;
		margin-right: 10px;
	}
	#datosUsuario>h1{
		font-size: 1.2em;
		line-height: 60px;
		color: #fff;
		float: left;
	}
	#datosUsuario>i{
		font-size: 1.5em !important;
		line-height: 60px !important;
		color: rgba(255,255,255,.7);
		margin-left: 10px;
		display: block;
		float: left;
		cursor: pointer;
	}
.notificaciones{
	width: 75px;
	height: 100%;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	border-left: 1px solid rgba(255,255,255,.2);
	padding: 5px;
	box-sizing: border-box;
	cursor: pointer;
}	
	.notificaciones:hover{
		background: rgba(255,255,255,.1);
	}
	.notificaciones>i{
		width: 50%;
		font-size: 1.2em !important;
		color: rgba(255,255,255,.7);
		display: block;
		float: left;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
	.notificaciones>p{
		width: 50%;
		height: 100%;
		float: left;
		font-size: 1.5em !important;
		font-weight: 700;
		color: rgba(255,255,255,.7);
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
.alertas_des{
	width: 30%;
	background: rgb(252,252,252);
	float: right;
	z-index: 9999999;
	top: 60px;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: -8px 8px 10px -8px rgba(0,0,0,.5);
	display: none;
}
	.veralertas{
		display: block !important;
	}
	.alertas_des>h1{
		width: 100%;
		height: 25px;
		float: left;
		position: relative;
		text-align: center;
		font-size: 20px !important;
		line-height: 20px;
		border-bottom: 1px solid rgba(0,0,0,.2);
		padding-bottom: 5px;
		box-sizing: border-box;
	}
	.alertas_des>.pedido_hecho{
		width: 100%;
		float: left;
		position: relative;
		border-bottom: 1px solid rgba(0,0,0,.2);
		padding: 5px;
		box-sizing: border-box;
	}
	.no-vista{
		background: #EDF2FA;
	}
		.pedido_hecho>p{
			height: auto;
			float: left;
			position: relative;
			cursor: default;
		}
		.pedido_hecho>img{
			width: 15px;
			height: 15px;
			float: right;
			position: relative;
			filter: invert(30%);
			cursor: pointer;
		}
	.alertas_des>a{
		width: 100%;
		height: 35px;
		float: left;
		position: relative;
		line-height: 35px;
		text-align: center;
		text-decoration: none;
		color: rgba(0,0,0,.8);
		font-weight: 700;
	}
		.alertas_des>a:hover{
			background: #505462;
			color: rgba(255,255,255,.8);
		}
.headermostmas{
	left: 290px !important;
	transition: .45s all;
	width: calc(100% - 290px);
}

/*======================== CONTENIDO ========================*/
.contenedor{
	width: calc(100% - 110px);
	background: red;
	height: calc(100% - 80px);
	position: fixed;
	top: 70px;
	left: 100px;
	background: rgba(255,255,255,.8);
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,.2);
	transition: .3s all;
	overflow: hidden;
}
.contmin{
	left: 300px;
	width: calc(100% - 310px);
}
.contbuscador{
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999;
	box-shadow: 1px 0px 10px 1px rgba(200,200,200,.3);
}
.buscador, .menupedidos{
		width: 70%;
		border-radius: 20px;
		height: 40px;
		margin-top: 25px;
		margin-left: 15%;
		margin-bottom: 25px;
		box-sizing: border-box;
		border: 2px solid var(--verde);
		overflow: hidden;
	}
	.buscador>input, .menupedidos>.vacio{
		width: 90%;
		border: none;
		height: 100%;
		text-align: center;
		padding-left: 10px;
		box-sizing: border-box;
		font-size: 1em;
		float: left;
		outline: none;
	}
	.menupedidos>.vacio{
		line-height: 35px;
		color: rgba(0,0,0,.6);
	}
	.opciones{
		width: 67%;
		margin-top: -24px;
		margin-left: 16.5%;
		box-sizing: border-box;
		overflow: hidden;
		display: none;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		box-shadow: -10px 10px 10px -12px rgba(0,0,0,.5);
	}
	.opcion{
		width: 100%;
		height: auto;
		float: left;
		position: relative;
		background: rgb(252,252,252);
		padding-left: 20px !important;
		box-sizing: border-box;
		cursor: default;
		padding-top: 3px;
		cursor: pointer;
		padding: 5px;
	}
	.opcion:hover{
		background: #EDF2FA;
	}
	.ver-opciones{
		display: block !important;
	}
	.buscador>button, .menupedidos>button{
		background: var(--verde);
		border: none;
		width: 10%;
		height: 100%;
		font-size: 1em;
		cursor: pointer;
		color: var(--blanco);
		outline: none;
	}
	.cont{
		width: 100%;
		position: absolute;
		height: calc(100% - 90px);
		top: 90px;
		overflow-y: scroll;
		padding-bottom: 30px;
		box-sizing: border-box;
	}
	.nuevo, .registrado{
		width: 350px;
		height: 200px;
		overflow-y: scroll;
		position: relative;
		float: left;
		margin-left: 25px;
		margin-top: 15px;
		border-radius: 5px;
		border: 2px dashed rgba(0,0,0,.2);
		padding: 10px;
		box-sizing: border-box;
		
	}
	.nuevo>input, .nuevo>textarea{
		width: 100%;
		height: 25px;
		padding: 5px;
		box-sizing: border-box; 
		border: none;
		border-radius: 3px;
		border: 1px solid rgba(0,0,0,.2);
		margin-bottom: 10px;
		font-size: .9em;
		color: var(--letraosc);
		outline: none;
	}
	.nuevo>textarea{
		height: 90px !important;
		resize: none;
	}
	.nuevo>input[type=number]{
		width: 30%;
		float: left;
		outline: none;
	}
	.nuevo>label{
		width: 100%;
		float: left;
		margin-bottom: 35px;
		background:red;
	}
	.nuevo>input[type=file]{
		display: none;
	}
	.nuevo>button{
		float:right;
		height: 35px;
		border: none;
		border-radius:3px;
		padding: 5px 10px;
		line-height: 15px;
		font-size: .8em;
		box-sizing:border-box;
		background: none;
		color: var(--verde);
		border: 2px solid var(--verde);
		cursor: pointer;
		transition: .2s all;
	}
	.nuevo>button:hover{
		color: var(--blanco);
		background: var(--verde);
	}
	.registrado{
		border: 1px solid rgba(0,0,0,.2) !important;
		box-shadow: -0px 2px 5px 0px rgba(0,0,0,.1);
	}
	.registrado>i{
		float: right;
		color: rgba(0,0,0,.3);
		font-size: .8em;
		margin-left: 10px;
		cursor: pointer;
	}
	.registrado>h1{
		text-align: center;
		margin-top: 20px;
		color: var(--letraosc);
		margin-bottom: 10px;
	}
	.registrado>p{
		padding: 0px 10px;
		box-sizing: border-box;
		color: var(--letraosc);
		font-size: 1em;
		margin-top: 10px;
		text-align: center;
	}
	.registrado>h5{
		font-size: 1em;
		text-align: center;
		color: var(--colorprecio);
		margin-top: 8px;
	}
	.registrado>h6{
		text-align: center;
		font-size: .9em;
		color: var(--colorprecio);
	}
.recientes, .enproceso, .entregados, .cafeterias, .tipo, .cafeteriaventa, .pedidos{
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	padding: 10px;
	box-sizing: border-box;
	display: none;
	text-align: center;
}
.recientes{
	display: block !important;
}
.ver-recientes{
	display: none !important;
}
.ver-enproceso, .ver-entregados{
	display: block !important;
}
	.recientes>table{
		width: 100%;
		height: 1005;
		float: left;
		position: relative;
		border-collapse: collapse;
	}
	th{
		width: 16.6%;
		color: var(--letraosc);
        text-align: center;
        background: rgba(0,0,0,.09);
        padding: 5px;
        box-sizing: border-box;
        font-weight: 400;
        text-align: center;
	}
		.tamañoh{
			width: 5% !important;
		}
		.tamañoe{
			width: 3% !important;
		}
		th>img{
			width: 30px;
			display: flex;
        	justify-content: center;
        	text-align: center;
        	align-content: center;
        	align-items: center;
        	margin-left: 20px;
		}
	td{
		font-weight: 300;
        color: #4B4B4B;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
	}
	tr{
       height: 25px;
       background: rgba(0,0,0,.03);
    }
    tr:nth-child(odd){
       background: rgba(0,0,0,.08);
    }





