*{
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}
:root{
	--amarillo:rgb(255,229,110);
	--blanco:rgb(255,255,255);
	--letraosc:rgba(0,0,0,.8);
	--colorprecio:rgba(0,0,0,.5);
	/*====== COLORES =======*/
	--gris: #d2d2d2;
	--claro: #f6f6f6;
	--gris-oscuro: #3b3a34;
	--oscuro: #33322d;
	--rojo: #f8616a;
	--rojo-oscuro: #d3535b;
	--morado: #8493e1;
	--morado-oscuro: #717ec0;
	--verde: #50d981;
	--verde-oscuro : #44b66c;
}
body, html{
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(65,67,69,.99), rgba(35,37,38,.8)), url(../img/fondo1.png);

}
.clogin{
	width: 25%;
	height: 350px;
	float: left;
	position: absolute;
	background: var(--claro);
	text-align: center;
	border-radius: 5px;
	z-index: 99999;
	margin-left: 37.5%;
	margin-right: 37.5%;
	margin-top: -225px;
	top: 50%;
	box-shadow: 0px 0px 25px -7px rgba(0,0,0,.9);
}
	.input{
		width: 100%;
		height: 150px;
		float: left;
		position: relative;
	}
	h1{
		width: 100%;
		float: left;
		height: 80px;
		line-height: 80px;
		position: relative;
		font-size: 25px;
		cursor: default;
		border-bottom: 2px solid var(--amarillo);
		color: var(--amarillo)!important;
		font-weight: 300;
		text-transform: uppercase;
		background: var(--oscuro);
	}
	.input>input{
		width: 60%;
		height: 30px;
		float: left;
		position: relative;
		border: none;
		border-bottom: 1px solid var(--gris-oscuro);
		margin-top: 25px;
		margin-left: 20%;
		box-sizing: border-box;
		padding: 5px;
		outline: none;
		background: none;
		font-size: 15px;
	}
	.boton{
		width: 30%;
		height: 30px;
		margin-top: 5px;
		border: none;
		font-size: 16px;
		font-weight: 300;
		border-radius: 3px;
		background: var(--gris-oscuro);
		outline: none;
		cursor:pointer;
		color: var(--blanco);
		transition: .3s all;
	}
	.boton:hover{
		background: var(--oscuro);
		font-weight: 400;
		width: 40%;
	}
	.boton:active{
		position: relative;
		top: 1px;
		transition: .3s all;
	}

	#msjE{
		position: fixed;
		top: -70px;
		left: 0px;
		z-index: 9999;
		width: 100%;
		height: 70px;
		background: var(--rojo);
		transition: .3s all;
		text-align: center;
		line-height: 70px;
		color: var(--blanco);
		font-size: 1.4em;
	}
