*{
	font-family: 'Assistant', sans-serif;
	padding: 0px;
	margin: 0px;
}
:root{
	--amarillo:rgb(255,255,145);
	--blanco:rgb(255,255,255);
	--verde:#54D8C8;
	--letraosc:rgba(0,0,0,.8);
	--colorprecio:rgba(0,0,0,.5);
}
body, html{
	width: 100%;
	height: 100%;
	overflow: none;
	background: #F3BFC9;
}
.fondo1{
	width: 100%;
	height: 99%;
	float: left;
	position: relative;
	background-size: 100% 100%;
	background-repeat: cover;
}
.fondo2{
	width: 100%;
	height: 99%;
	float: right;
	position: relative;
	box-sizing: border-box;
	margin-top: -655.5px;
}
.fondo1>img, .fondo2>img{
	width: 100%;
	height: 100%;
}
.clogin{
	width: 20%;
	height: 450px;
	float: left;
	position: absolute;
	background: var(--amarillo);
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	z-index: 999999999;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: -225px;
	top: 50%;
}
	.input{
		width: 100%;
		height: 150px;
		float: left;
		position: relative;
	}
	h1{
		width: 100%;
		height: 30px;
		float: left;
		position: relative;
		font-weight: 400;
		margin-top: 10px;
		font-size: 25px;
		cursor: default;
	}
	.clogin>img{
		width: 60%;
		height: 150px;
		padding-top: 30px;
	}
	p{
		width: 30%;
		height: 20px;
		float: left;
		position: relative;
		margin-bottom: 10px;
		margin-top: 40px;
		margin-left: 5%;
		box-sizing: border-box;
		cursor: default;
	}
	.input>input{
		width: 50%;
		height: 30px;
		float: left;
		position: relative;
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.5);
		margin-top: 33px;
		margin-bottom: 10px;
		margin-left: 10%;
		box-sizing: border-box;
		padding: 5px;
		outline: none;
		background: none;
	}
	.boton{
		width: 30%;
		height: 30px;
		float: left;
		position: relative;
		margin-left: 50%;
		left: -15%;
		margin-top: 25px;
		border: none;
		border: 1px solid rgba(0,0,0,.1);
		font-size: 15px;
		border-radius: 5px;
		cursor: pointer;
	}
